[Desktop Entry]
Name=MiniVerse
Name[en_US]=MiniVerse
Type=Application
Icon=/home/alectramell/Desktop/miniverse/img/icon.svg
Exec=google-chrome /home/alectramell/Desktop/miniverse/app.html
Terminal=false
